In [1]:
#!pip install ydata-profiling

In [2]:
import pandas as pd

In [3]:
from ydata_profiling import ProfileReport
train = pd.read_csv("data/hackaton_students_train.csv")

c:\Users\macie\anaconda3\envs\testy\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
# profile = ProfileReport(train, title="Raport danych: Hackaton Students", explorative=True)

In [5]:
# profile.to_file("raport_hackaton_students.html")

In [6]:
pd.set_option('display.max_columns', None)
train.head(3)

,id,booking_adult_count,booking_child_count,booking_destination_airport_code,booking_id,booking_infant_count,booking_leg_count,booking_market,booking_origin_airport_code,booking_original_currency,booking_pax_count,booking_payment_method,booking_reservation_month,booking_sales_channel,booking_segments_count,booking_trip_type,booking_window_w,coupon_cabin_class,coupon_destination_airport_code,coupon_fare_basis,coupon_marketing_flight_number,coupon_miles,coupon_number,coupon_origin_airport_code,coupon_range,coupon_rbd_code,email,flight_coupon_id,flight_leg_id,is_seat,leg_arrival_hour,leg_arrival_timezone_code,leg_departure_hour,leg_departure_month,leg_departure_timezone_code,leg_destination_airport_code,leg_destination_country_code,leg_duration_h,leg_first_leg_flg,leg_hours_to_departure,leg_last_leg_flg,leg_number,leg_origin_airport_code,leg_origin_country_code,leg_stopover_time_h,pnr,preffered_language,request_dttm,request_id,clicked,graphic_design,top_1_section,top_2_section,top_3_section
0,105529,1,0,TBS,6386840,0,2,GE,WAW,GEL,1,95582540167d4ebb9497a7031f046757,1,website,2,RT,4,economy,WAW,ee702af56c9f42c49677ede02047afcd,8102495,1334,2,TBS,SH,b6460aef6f204ba8940329aa9f7f99cd,4a0d5a2fe1974c1f8e8082afa8bdd72b,7604138,1585907,0,6,Europe/Warsaw,5,2,Asia/Tbilisi,WAW,NaN,0,1,74,0,2,TBS,NaN,365,40faefe514be47b38cea3be065583d7f,en_gb,2014-03-02T21:13:05.030Z,ee37548ce2a74b99b41d67f4d2a138fd,0,C,6,3,0
1,28386,1,0,WAW,6842736,0,2,US,EWR,USD,1,95582540167d4ebb9497a7031f046757,8,website,2,RT,2,economy,EWR,64e30cc1470248f6896a74d5774954b8,3391275,4268,2,WAW,LH,5b4d18c017084084b2c8e3860625237e,eb3f322048494f7ea59d63bb636772c8,1440297,8701111,1,20,America/New_York,17,9,Europe/Warsaw,EWR,US,3,1,71,0,2,WAW,NaN,325,7fafefddde544aba95c69552cfbadd51,en_gb,2013-10-09T11:08:14.112Z,f083457969dd46d2ada761198096ecc4,1,B,4,3,5
2,107663,1,0,BEG,3164316,0,2,PL,SZZ,NaN,1,1bb2b25a099d4a438425d276203a0c2c,2,website,4,RT,0,economy,WAW,76c8fafae85c47e0849a2b85b23dce08,1303546,507,3,BEG,SH,fcd7f2fe3e034355bcc3fff350b5c928,93fe4d004f074298ae540784f5466926,8864878,2564724,0,20,Europe/Warsaw,13,2,Europe/Belgrade,SZZ,NaN,6,0,71,1,2,BEG,NaN,-9999,6240c081718e4439a3174ac38a2c9c45,en_gb,2014-03-08T08:15:38.344Z,9df9a894f4374dfba0d8811dd99c1b1e,0,C,3,6,0

In [7]:
tmp = train[['booking_id','booking_leg_count','booking_segments_count']]
# train['difference_segments_leg'] = train['booking_segments_count'] - train['booking_leg_count']
# train[train['difference_segments_leg'] < 0]
# train.describe().T

In [8]:
tmp['count'] = tmp.groupby('booking_id')['booking_id'].transform('count')

C:\Users\macie\AppData\Local\Temp\ipykernel_3648\3856664387.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['count'] = tmp.groupby('booking_id')['booking_id'].transform('count')

In [9]:
tmp[tmp['count'] > 1].head(10)
# tmp[tmp['count'] > 1].shape

    booking_id  booking_leg_count  booking_segments_count  count
6      7868365                  2                       2      2
40     8904994                  2                       2      2
52     8211421                  2                       2      2
64     4544086                  2                       2      2
66     6719981                  2                       4      2
72     4224295                  2                       2      2
83     3519968                  2                       4      2
86     9188579                  2                       2      2
91     1998697                  2                       2      2
95     4874424                  2                       2      2

In [10]:
train[train['booking_id'] == 7868365]

,id,booking_adult_count,booking_child_count,booking_destination_airport_code,booking_id,booking_infant_count,booking_leg_count,booking_market,booking_origin_airport_code,booking_original_currency,booking_pax_count,booking_payment_method,booking_reservation_month,booking_sales_channel,booking_segments_count,booking_trip_type,booking_window_w,coupon_cabin_class,coupon_destination_airport_code,coupon_fare_basis,coupon_marketing_flight_number,coupon_miles,coupon_number,coupon_origin_airport_code,coupon_range,coupon_rbd_code,email,flight_coupon_id,flight_leg_id,is_seat,leg_arrival_hour,leg_arrival_timezone_code,leg_departure_hour,leg_departure_month,leg_departure_timezone_code,leg_destination_airport_code,leg_destination_country_code,leg_duration_h,leg_first_leg_flg,leg_hours_to_departure,leg_last_leg_flg,leg_number,leg_origin_airport_code,leg_origin_country_code,leg_stopover_time_h,pnr,preffered_language,request_dttm,request_id,clicked,graphic_design,top_1_section,top_2_section,top_3_section
6,30135,2,0,BCN,7868365,0,2,PL,WAW,PLN,2,95582540167d4ebb9497a7031f046757,7,website,2,RT,9,economy,WAW,827044bc992241a7a6e0a821d48d6967,7174818,1162,2,BCN,SH,5b4d18c017084084b2c8e3860625237e,12e3c755b9d9443dbd2ba1b182716f69,8578738,9799232,0,16,Europe/Warsaw,13,9,Europe/Madrid,WAW,PL,3,0,71,1,2,BCN,ES,-9999,e7352d3377f84d2ab8c3c103e849109e,pl_pl,2013-10-11T07:07:08.502Z,a9e4f2e6e9454e22ad5f8211a31179a7,1,A,3,2,1
7069,16468,2,0,BCN,7868365,0,2,PL,WAW,PLN,2,95582540167d4ebb9497a7031f046757,7,website,2,RT,9,economy,BCN,21d17ebe5228425fb2dd05ca0ee42146,4650516,1162,1,WAW,SH,b83de1e4d0124e4da7fddad09c0d6f2c,12e3c755b9d9443dbd2ba1b182716f69,6085751,7896637,0,12,Europe/Madrid,9,9,Europe/Warsaw,BCN,ES,3,0,71,1,1,WAW,PL,-9999,e7352d3377f84d2ab8c3c103e849109e,pl_pl,2013-09-29T03:04:46.572Z,dc20e0af6d7d4e209061560cc704dffd,1,C,3,6,0

In [11]:
train['label'] = pd.Categorical(
    list(zip(
        train['graphic_design'],
        train['top_1_section'],
        train['top_2_section'],
        train['top_3_section']
    ))
).codes

In [12]:
train.head()

,id,booking_adult_count,booking_child_count,booking_destination_airport_code,booking_id,booking_infant_count,booking_leg_count,booking_market,booking_origin_airport_code,booking_original_currency,booking_pax_count,booking_payment_method,booking_reservation_month,booking_sales_channel,booking_segments_count,booking_trip_type,booking_window_w,coupon_cabin_class,coupon_destination_airport_code,coupon_fare_basis,coupon_marketing_flight_number,coupon_miles,coupon_number,coupon_origin_airport_code,coupon_range,coupon_rbd_code,email,flight_coupon_id,flight_leg_id,is_seat,leg_arrival_hour,leg_arrival_timezone_code,leg_departure_hour,leg_departure_month,leg_departure_timezone_code,leg_destination_airport_code,leg_destination_country_code,leg_duration_h,leg_first_leg_flg,leg_hours_to_departure,leg_last_leg_flg,leg_number,leg_origin_airport_code,leg_origin_country_code,leg_stopover_time_h,pnr,preffered_language,request_dttm,request_id,clicked,graphic_design,top_1_section,top_2_section,top_3_section,label
0,105529,1,0,TBS,6386840,0,2,GE,WAW,GEL,1,95582540167d4ebb9497a7031f046757,1,website,2,RT,4,economy,WAW,ee702af56c9f42c49677ede02047afcd,8102495,1334,2,TBS,SH,b6460aef6f204ba8940329aa9f7f99cd,4a0d5a2fe1974c1f8e8082afa8bdd72b,7604138,1585907,0,6,Europe/Warsaw,5,2,Asia/Tbilisi,WAW,NaN,0,1,74,0,2,TBS,NaN,365,40faefe514be47b38cea3be065583d7f,en_gb,2014-03-02T21:13:05.030Z,ee37548ce2a74b99b41d67f4d2a138fd,0,C,6,3,0,9
1,28386,1,0,WAW,6842736,0,2,US,EWR,USD,1,95582540167d4ebb9497a7031f046757,8,website,2,RT,2,economy,EWR,64e30cc1470248f6896a74d5774954b8,3391275,4268,2,WAW,LH,5b4d18c017084084b2c8e3860625237e,eb3f322048494f7ea59d63bb636772c8,1440297,8701111,1,20,America/New_York,17,9,Europe/Warsaw,EWR,US,3,1,71,0,2,WAW,NaN,325,7fafefddde544aba95c69552cfbadd51,en_gb,2013-10-09T11:08:14.112Z,f083457969dd46d2ada761198096ecc4,1,B,4,3,5,6
2,107663,1,0,BEG,3164316,0,2,PL,SZZ,NaN,1,1bb2b25a099d4a438425d276203a0c2c,2,website,4,RT,0,economy,WAW,76c8fafae85c47e0849a2b85b23dce08,1303546,507,3,BEG,SH,fcd7f2fe3e034355bcc3fff350b5c928,93fe4d004f074298ae540784f5466926,8864878,2564724,0,20,Europe/Warsaw,13,2,Europe/Belgrade,SZZ,NaN,6,0,71,1,2,BEG,NaN,-9999,6240c081718e4439a3174ac38a2c9c45,en_gb,2014-03-08T08:15:38.344Z,9df9a894f4374dfba0d8811dd99c1b1e,0,C,3,6,0,8
3,24881,1,0,BOM,3835074,0,1,SE,WAW,NaN,1,1bb2b25a099d4a438425d276203a0c2c,9,agents,1,OW,0,economy,BOM,9915e38b5cf247588f6f4ae680b53f5e,2394395,3591,1,WAW,LH,06461e5ef0bb4941995dadba33f4b58a,a9a8894fee5d44da923224e46a280e9c,4806814,6460284,0,2,Asia/Kolkata,15,9,Europe/Warsaw,BOM,NaN,11,1,71,1,1,WAW,NaN,-9999,231c99e3d0644366827e91276296e3cc,en_gb,2013-10-06T09:09:48.597Z,89c95fa040db42d4a1982c7901128585,1,A,3,1,2,2
4,90383,1,0,OTP,5962948,0,2,PL,OSL,PLN,1,95582540167d4ebb9497a7031f046757,10,agents,4,RT,9,economy,WAW,0b93a67a450640c19f68cd8e77464ffa,8788690,671,1,OSL,SH,fcd7f2fe3e034355bcc3fff350b5c928,7e7a981bfcff46aa9077f2dd2803ac57,2708982,9204582,0,1,Europe/Bucharest,19,12,Europe/Oslo,OTP,NaN,5,1,71,0,1,OSL,NaN,249,4854301527cf48f7a32c9625a154874b,en_gb,2014-01-07T14:14:06.568Z,d44b65a240374e61867039b37c98f9a0,1,B,3,4,5,4

In [13]:
train_clicked_1 = train[train['clicked'] == 1]

In [14]:
print(f"Train shape: {train.shape}, Train clicked 1 shape: {train_clicked_1.shape}")

Train shape: (84949, 55), Train clicked 1 shape: (27860, 55)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train = train.drop(columns=['clicked', 'label', 'graphic_design', 'top_1_section', 'top_2_section', 'top_3_section'])
y_train = train[['label', 'clicked']]

In [17]:
train_clicked_1.head(1)

,id,booking_adult_count,booking_child_count,booking_destination_airport_code,booking_id,booking_infant_count,booking_leg_count,booking_market,booking_origin_airport_code,booking_original_currency,booking_pax_count,booking_payment_method,booking_reservation_month,booking_sales_channel,booking_segments_count,booking_trip_type,booking_window_w,coupon_cabin_class,coupon_destination_airport_code,coupon_fare_basis,coupon_marketing_flight_number,coupon_miles,coupon_number,coupon_origin_airport_code,coupon_range,coupon_rbd_code,email,flight_coupon_id,flight_leg_id,is_seat,leg_arrival_hour,leg_arrival_timezone_code,leg_departure_hour,leg_departure_month,leg_departure_timezone_code,leg_destination_airport_code,leg_destination_country_code,leg_duration_h,leg_first_leg_flg,leg_hours_to_departure,leg_last_leg_flg,leg_number,leg_origin_airport_code,leg_origin_country_code,leg_stopover_time_h,pnr,preffered_language,request_dttm,request_id,clicked,graphic_design,top_1_section,top_2_section,top_3_section,label
1,28386,1,0,WAW,6842736,0,2,US,EWR,USD,1,95582540167d4ebb9497a7031f046757,8,website,2,RT,2,economy,EWR,64e30cc1470248f6896a74d5774954b8,3391275,4268,2,WAW,LH,5b4d18c017084084b2c8e3860625237e,eb3f322048494f7ea59d63bb636772c8,1440297,8701111,1,20,America/New_York,17,9,Europe/Warsaw,EWR,US,3,1,71,0,2,WAW,NaN,325,7fafefddde544aba95c69552cfbadd51,en_gb,2013-10-09T11:08:14.112Z,f083457969dd46d2ada761198096ecc4,1,B,4,3,5,6

In [18]:
x_train_clicked_1 = train_clicked_1.drop(columns=['clicked','graphic_design', 'top_1_section', 'top_2_section', 'top_3_section', 'label'])
y_train_clicked_1 = train_clicked_1[['label', 'clicked']]

In [19]:
_, x_valid_clicked_1, _, y_valid_clicked_1 = train_test_split(x_train_clicked_1,
                                                              y_train_clicked_1, 
                                                              test_size=0.6, 
                                                              random_state=42, 
                                                              stratify=y_train_clicked_1['label']
                                                              )

In [20]:
x_train = x_train.drop(x_valid_clicked_1.index)
y_train = y_train.drop(y_valid_clicked_1.index)

In [ ]:
x_train.to_csv("data/x_train.csv", index=False)
y_train.to_csv("data/y_train.csv", index=False)

x_valid = x_valid_clicked_1.to_csv("data/x_valid.csv", index=False)
y_valid = y_valid_clicked_1.to_csv("data/y_valid.csv", index=False)