In [49]:
import pandas as pd
data = pd.read_csv('data/hackaton_students_train.csv')
data

,id,booking_adult_count,booking_child_count,booking_destination_airport_code,booking_id,booking_infant_count,booking_leg_count,booking_market,booking_origin_airport_code,booking_original_currency,...,leg_stopover_time_h,pnr,preffered_language,request_dttm,request_id,clicked,graphic_design,top_1_section,top_2_section,top_3_section
0,105529,1,0,TBS,6386840,0,2,GE,WAW,GEL,...,365,40faefe514be47b38cea3be065583d7f,en_gb,2014-03-02T21:13:05.030Z,ee37548ce2a74b99b41d67f4d2a138fd,0,C,6,3,0
1,28386,1,0,WAW,6842736,0,2,US,EWR,USD,...,325,7fafefddde544aba95c69552cfbadd51,en_gb,2013-10-09T11:08:14.112Z,f083457969dd46d2ada761198096ecc4,1,B,4,3,5
2,107663,1,0,BEG,3164316,0,2,PL,SZZ,NaN,...,-9999,6240c081718e4439a3174ac38a2c9c45,en_gb,2014-03-08T08:15:38.344Z,9df9a894f4374dfba0d8811dd99c1b1e,0,C,3,6,0
3,24881,1,0,BOM,3835074,0,1,SE,WAW,NaN,...,-9999,231c99e3d0644366827e91276296e3cc,en_gb,2013-10-06T09:09:48.597Z,89c95fa040db42d4a1982c7901128585,1,A,3,1,2
4,90383,1,0,OTP,5962948,0,2,PL,OSL,PLN,...,249,4854301527cf48f7a32c9625a154874b,en_gb,2014-01-07T14:14:06.568Z,d44b65a240374e61867039b37c98f9a0,1,B,3,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84944,7634,1,0,WAW,5494177,0,2,US,EWR,USD,...,710,d86c510a2b114288bc6ca23cbdb20731,pl_pl,2013-09-21T08:09:47.626Z,c96bd1b541614661a3ec092f4594e5c1,1,B,4,3,5
84945,67152,1,0,ICN,4024574,0,2,PL,WRO,PLN,...,1163,882f81dc62264d18be14b0c346249888,en_gb,2013-11-16T11:11:36.066Z,22e4542ce44049da8a6f20ed6238faf0,1,B,3,4,5
84946,94614,2,0,DEL,9014936,0,2,PL,WAW,PLN,...,443,828a20846c724728ac8a0760efdf6df6,pl_pl,2014-01-27T22:12:08.965Z,2532b32403f2417fb5717281ddadb9df,1,C,3,6,0
84947,1031,2,0,DBV,5195800,0,2,PL,WAW,PLN,...,-9999,0e0f7bb498134733a28aae066201993d,pl_pl,2013-09-15T12:34:09.192Z,e5d4b884d3f24c54a47162af74a1ad09,0,A,3,2,1
84948,19208,2,0,FCO,8300743,0,2,PL,WAW,PLN,...,-9999,815e167f6e56449e90d6fc13826cb361,pl_pl,2013-10-01T09:07:56.159Z,195a4dc345f4494aa474aca7f271d556,0,B,4,3,5

In [50]:
data['label'] = data['graphic_design'].astype('str') + \
                 data['top_1_section'].astype('str') + \
                 data['top_2_section'].astype('str') + \
                 data['top_3_section'].astype('str')
data

,id,booking_adult_count,booking_child_count,booking_destination_airport_code,booking_id,booking_infant_count,booking_leg_count,booking_market,booking_origin_airport_code,booking_original_currency,...,pnr,preffered_language,request_dttm,request_id,clicked,graphic_design,top_1_section,top_2_section,top_3_section,label
0,105529,1,0,TBS,6386840,0,2,GE,WAW,GEL,...,40faefe514be47b38cea3be065583d7f,en_gb,2014-03-02T21:13:05.030Z,ee37548ce2a74b99b41d67f4d2a138fd,0,C,6,3,0,C630
1,28386,1,0,WAW,6842736,0,2,US,EWR,USD,...,7fafefddde544aba95c69552cfbadd51,en_gb,2013-10-09T11:08:14.112Z,f083457969dd46d2ada761198096ecc4,1,B,4,3,5,B435
2,107663,1,0,BEG,3164316,0,2,PL,SZZ,NaN,...,6240c081718e4439a3174ac38a2c9c45,en_gb,2014-03-08T08:15:38.344Z,9df9a894f4374dfba0d8811dd99c1b1e,0,C,3,6,0,C360
3,24881,1,0,BOM,3835074,0,1,SE,WAW,NaN,...,231c99e3d0644366827e91276296e3cc,en_gb,2013-10-06T09:09:48.597Z,89c95fa040db42d4a1982c7901128585,1,A,3,1,2,A312
4,90383,1,0,OTP,5962948,0,2,PL,OSL,PLN,...,4854301527cf48f7a32c9625a154874b,en_gb,2014-01-07T14:14:06.568Z,d44b65a240374e61867039b37c98f9a0,1,B,3,4,5,B345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84944,7634,1,0,WAW,5494177,0,2,US,EWR,USD,...,d86c510a2b114288bc6ca23cbdb20731,pl_pl,2013-09-21T08:09:47.626Z,c96bd1b541614661a3ec092f4594e5c1,1,B,4,3,5,B435
84945,67152,1,0,ICN,4024574,0,2,PL,WRO,PLN,...,882f81dc62264d18be14b0c346249888,en_gb,2013-11-16T11:11:36.066Z,22e4542ce44049da8a6f20ed6238faf0,1,B,3,4,5,B345
84946,94614,2,0,DEL,9014936,0,2,PL,WAW,PLN,...,828a20846c724728ac8a0760efdf6df6,pl_pl,2014-01-27T22:12:08.965Z,2532b32403f2417fb5717281ddadb9df,1,C,3,6,0,C360
84947,1031,2,0,DBV,5195800,0,2,PL,WAW,PLN,...,0e0f7bb498134733a28aae066201993d,pl_pl,2013-09-15T12:34:09.192Z,e5d4b884d3f24c54a47162af74a1ad09,0,A,3,2,1,A321
84948,19208,2,0,FCO,8300743,0,2,PL,WAW,PLN,...,815e167f6e56449e90d6fc13826cb361,pl_pl,2013-10-01T09:07:56.159Z,195a4dc345f4494aa474aca7f271d556,0,B,4,3,5,B435

In [51]:
data.drop(columns=['graphic_design', 'top_1_section', 'top_2_section', 'top_3_section'], inplace=True)
data['label'] = data['label'].astype('category').cat.codes
data

,id,booking_adult_count,booking_child_count,booking_destination_airport_code,booking_id,booking_infant_count,booking_leg_count,booking_market,booking_origin_airport_code,booking_original_currency,...,leg_number,leg_origin_airport_code,leg_origin_country_code,leg_stopover_time_h,pnr,preffered_language,request_dttm,request_id,clicked,label
0,105529,1,0,TBS,6386840,0,2,GE,WAW,GEL,...,2,TBS,NaN,365,40faefe514be47b38cea3be065583d7f,en_gb,2014-03-02T21:13:05.030Z,ee37548ce2a74b99b41d67f4d2a138fd,0,9
1,28386,1,0,WAW,6842736,0,2,US,EWR,USD,...,2,WAW,NaN,325,7fafefddde544aba95c69552cfbadd51,en_gb,2013-10-09T11:08:14.112Z,f083457969dd46d2ada761198096ecc4,1,6
2,107663,1,0,BEG,3164316,0,2,PL,SZZ,NaN,...,2,BEG,NaN,-9999,6240c081718e4439a3174ac38a2c9c45,en_gb,2014-03-08T08:15:38.344Z,9df9a894f4374dfba0d8811dd99c1b1e,0,8
3,24881,1,0,BOM,3835074,0,1,SE,WAW,NaN,...,1,WAW,NaN,-9999,231c99e3d0644366827e91276296e3cc,en_gb,2013-10-06T09:09:48.597Z,89c95fa040db42d4a1982c7901128585,1,2
4,90383,1,0,OTP,5962948,0,2,PL,OSL,PLN,...,1,OSL,NaN,249,4854301527cf48f7a32c9625a154874b,en_gb,2014-01-07T14:14:06.568Z,d44b65a240374e61867039b37c98f9a0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84944,7634,1,0,WAW,5494177,0,2,US,EWR,USD,...,2,WAW,PL,710,d86c510a2b114288bc6ca23cbdb20731,pl_pl,2013-09-21T08:09:47.626Z,c96bd1b541614661a3ec092f4594e5c1,1,6
84945,67152,1,0,ICN,4024574,0,2,PL,WRO,PLN,...,1,WRO,NaN,1163,882f81dc62264d18be14b0c346249888,en_gb,2013-11-16T11:11:36.066Z,22e4542ce44049da8a6f20ed6238faf0,1,4
84946,94614,2,0,DEL,9014936,0,2,PL,WAW,PLN,...,2,DEL,IN,443,828a20846c724728ac8a0760efdf6df6,pl_pl,2014-01-27T22:12:08.965Z,2532b32403f2417fb5717281ddadb9df,1,8
84947,1031,2,0,DBV,5195800,0,2,PL,WAW,PLN,...,2,DBV,HR,-9999,0e0f7bb498134733a28aae066201993d,pl_pl,2013-09-15T12:34:09.192Z,e5d4b884d3f24c54a47162af74a1ad09,0,3
84948,19208,2,0,FCO,8300743,0,2,PL,WAW,PLN,...,1,WAW,PL,-9999,815e167f6e56449e90d6fc13826cb361,pl_pl,2013-10-01T09:07:56.159Z,195a4dc345f4494aa474aca7f271d556,0,6

In [52]:
data['index'] = data.index
data
data.to_csv('data/F/data_tmp.csv', index=False)

In [30]:
new_rows = []

# Iterujemy przez kad obserwacj w oryginalnej ramce danych
for index, row in data.iterrows():
    original_clicked = row['clicked']
    original_layout = row['label']
    
    # Dodajemy kolumn 'original_index' z numerem wiersza
    
    # Dla kadej wartoci layout od 0 do 9, z wyjtkiem tej, ktra jest ju w wierszu
    for layout_value in range(10):
        if layout_value != original_layout:
            # Tworzymy nowy wiersz z kopiami wszystkich kolumn
            new_row = row.copy()
            new_row['label'] = layout_value
            # Zmieniamy warto 'clicked' na 0, niezalenie od oryginalnej wartoci
            new_row['clicked'] = 0
            new_rows.append(new_row)

# Dodajemy nowo wygenerowane wiersze do oryginalnej ramki danych
new_rows_df = pd.DataFrame(new_rows)
expanded_data = pd.concat([data, new_rows_df], ignore_index=True)

# Wydrukowanie nowej ramki danych
print(expanded_data)

            id  booking_adult_count  booking_child_count  \
0       105529                    1                    0
1        28386                    1                    0
2       107663                    1                    0
3        24881                    1                    0
4        90383                    1                    0
...        ...                  ...                  ...
849485   19208                    2                    0
849486   19208                    2                    0
849487   19208                    2                    0
849488   19208                    2                    0
849489   19208                    2                    0

       booking_destination_airport_code  booking_id  booking_infant_count  \
0                                   TBS     6386840                     0
1                                   WAW     6842736                     0
2                                   BEG     3164316                     0
3                                   BOM     3835074                     0
4                                   OTP     5962948                     0
...                                 ...         ...                   ...
849485                              FCO     8300743                     0
849486                              FCO     8300743                     0
849487                              FCO     8300743                     0
849488                              FCO     8300743                     0
849489                              FCO     8300743                     0

        booking_leg_count booking_market booking_origin_airport_code  \
0                       2             GE                         WAW
1                       2             US                         EWR
2                       2             PL                         SZZ
3                       1             SE                         WAW
4                       2             PL                         OSL
...                   ...            ...                         ...
849485                  2             PL                         WAW
849486                  2             PL                         WAW
849487                  2             PL                         WAW
849488                  2             PL                         WAW
849489                  2             PL                         WAW

       booking_original_currency  ...  leg_origin_airport_code  \
0                            GEL  ...                      TBS
1                            USD  ...                      WAW
2                            NaN  ...                      BEG
3                            NaN  ...                      WAW
4                            PLN  ...                      OSL
...                          ...  ...                      ...
849485                       PLN  ...                      WAW
849486                       PLN  ...                      WAW
849487                       PLN  ...                      WAW
849488                       PLN  ...                      WAW
849489                       PLN  ...                      WAW

       leg_origin_country_code  leg_stopover_time_h  \
0                          NaN                  365
1                          NaN                  325
2                          NaN                -9999
3                          NaN                -9999
4                          NaN                  249
...                        ...                  ...
849485                      PL                -9999
849486                      PL                -9999
849487                      PL                -9999
849488                      PL                -9999
849489                      PL                -9999

                                     pnr  preffered_language  \
0       40faefe514be47b38cea3be065583d7f               en_gb
1       7fafefddde544aba95c69552cfbadd51               en_gb
2       6240c081718e4439a3174ac38a2c9c45               en_gb
3       231c99e3d0644366827e91276296e3cc               en_gb
4       4854301527cf48f7a32c9625a154874b               en_gb
...                                  ...                 ...
849485  815e167f6e56449e90d6fc13826cb361               pl_pl
849486  815e167f6e56449e90d6fc13826cb361               pl_pl
849487  815e167f6e56449e90d6fc13826cb361               pl_pl
849488  815e167f6e56449e90d6fc13826cb361               pl_pl
849489  815e167f6e56449e90d6fc13826cb361               pl_pl

                    request_dttm                        request_id clicked  \
0       2014-03-02T21:13:05.030Z  ee37548ce2a74b99b41d67f4d2a138fd       0
1       2013-10-09T11:08:14.112Z  f083457969dd46d2ada761198096ecc4       1
2       2014-03-08T08:15:38.344Z  9df9a894f4374dfba0d8811dd99c1b1e       0
3       2013-10-06T09:09:48.597Z  89c95fa040db42d4a1982c7901128585       1
4       2014-01-07T14:14:06.568Z  d44b65a240374e61867039b37c98f9a0       1
...                          ...                               ...     ...
849485  2013-10-01T09:07:56.159Z  195a4dc345f4494aa474aca7f271d556       0
849486  2013-10-01T09:07:56.159Z  195a4dc345f4494aa474aca7f271d556       0
849487  2013-10-01T09:07:56.159Z  195a4dc345f4494aa474aca7f271d556       0
849488  2013-10-01T09:07:56.159Z  195a4dc345f4494aa474aca7f271d556       0
849489  2013-10-01T09:07:56.159Z  195a4dc345f4494aa474aca7f271d556       0

       label  index
0          9      0
1          6      1
2          8      2
3          2      3
4          4      4
...      ...    ...
849485     4  84948
849486     5  84948
849487     7  84948
849488     8  84948
849489     9  84948

[849490 rows x 52 columns]

In [31]:
from sklearn.model_selection import train_test_split

# Wycigamy unikalne indeksy
unique_indices = expanded_data['index'].unique()
print(unique_indices)
# Dzielimy unikalne indeksy na train/valid
train_indices, valid_indices = train_test_split(
    unique_indices,
    test_size=0.2,
    random_state=23
)

# Tworzymy finalne zbiory danych na podstawie podziau indeksw
X_train = expanded_data[expanded_data['index'].isin(train_indices)].drop(columns=['clicked'])
X_valid = expanded_data[expanded_data['index'].isin(valid_indices)].drop(columns=['clicked'])
y_train = expanded_data[expanded_data['index'].isin(train_indices)]['clicked']
y_valid = expanded_data[expanded_data['index'].isin(valid_indices)]['clicked']

# Zapis do plikw
X_train.to_csv('data/F/X_train.csv', index=False)
X_valid.to_csv('data/F/X_valid.csv', index=False)
y_train.to_csv('data/F/y_train.csv', index=False)
y_valid.to_csv('data/F/y_valid.csv', index=False)

[    0     1     2 ... 84946 84947 84948]

In [32]:
# Wczytanie danych
data = pd.read_csv('data/F/X_train.csv')
data.drop(columns=['id', 'booking_destination_airport_code', 'booking_id', 'booking_market', 'booking_origin_airport_code', 'booking_original_currency',
       'booking_pax_count', 'booking_payment_method',
       'booking_reservation_month', 'booking_sales_channel', 'coupon_destination_airport_code',
       'coupon_fare_basis', 'coupon_marketing_flight_number', 'coupon_number', 'coupon_origin_airport_code', 'coupon_range',
       'coupon_rbd_code', 'email', 'flight_coupon_id', 'flight_leg_id', 'leg_arrival_hour', 'leg_arrival_timezone_code',
       'leg_departure_hour', 'leg_departure_month',
       'leg_departure_timezone_code', 'leg_destination_airport_code',
       'leg_destination_country_code', 'leg_first_leg_flg',
       'leg_hours_to_departure', 'leg_last_leg_flg', 'leg_number', 'leg_origin_airport_code', 'leg_origin_country_code', 'request_dttm',
       'request_id', 'pnr', 'index'], inplace=True)

In [33]:
# Wczytanie danych
data_v = pd.read_csv('data/F/X_valid.csv')
data_valid = data_v.drop(columns=['id', 'booking_destination_airport_code', 'booking_id', 'booking_market', 'booking_origin_airport_code', 'booking_original_currency',
       'booking_pax_count', 'booking_payment_method',
       'booking_reservation_month', 'booking_sales_channel', 'coupon_destination_airport_code',
       'coupon_fare_basis', 'coupon_marketing_flight_number', 'coupon_number', 'coupon_origin_airport_code', 'coupon_range',
       'coupon_rbd_code', 'email', 'flight_coupon_id', 'flight_leg_id', 'leg_arrival_hour', 'leg_arrival_timezone_code',
       'leg_departure_hour', 'leg_departure_month',
       'leg_departure_timezone_code', 'leg_destination_airport_code',
       'leg_destination_country_code', 'leg_first_leg_flg',
       'leg_hours_to_departure', 'leg_last_leg_flg', 'leg_number', 'leg_origin_airport_code', 'leg_origin_country_code', 'request_dttm',
       'request_id', 'pnr', 'index'])

In [34]:
# X columns
data_valid.columns

Index(['booking_adult_count', 'booking_child_count', 'booking_infant_count',
       'booking_leg_count', 'booking_segments_count', 'booking_trip_type',
       'booking_window_w', 'coupon_cabin_class', 'coupon_miles', 'is_seat',
       'leg_duration_h', 'leg_stopover_time_h', 'preffered_language', 'label'],
      dtype='object')

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 679590 entries, 0 to 679589
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   booking_adult_count     679590 non-null  int64
 1   booking_child_count     679590 non-null  int64
 2   booking_infant_count    679590 non-null  int64
 3   booking_leg_count       679590 non-null  int64
 4   booking_segments_count  679590 non-null  int64
 5   booking_trip_type       679590 non-null  object
 6   booking_window_w        679590 non-null  int64
 7   coupon_cabin_class      679590 non-null  object
 8   coupon_miles            679590 non-null  int64
 9   is_seat                 679590 non-null  int64
 10  leg_duration_h          679590 non-null  int64
 11  leg_stopover_time_h     679590 non-null  int64
 12  preffered_language      679590 non-null  object
 13  label                   679590 non-null  int64
dtypes: int64(11), object(3)
memory usage: 72.6+ MB

In [36]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

# Krok 1: Automatyczne wykrywanie kolumn kategorycznych i numerycznych
categorical_columns = data.select_dtypes(include=['object', 'category']).columns
numerical_columns = data.select_dtypes(include=['int64', 'float64']).columns

# Krok 2: Usuwanie skorelowanych cech tylko dla kolumn numerycznych
def remove_highly_correlated_features(data, numerical_columns, threshold=0.7):
    # Korelacja tylko dla numerycznych kolumn
    corr_matrix = data[numerical_columns].corr().abs()
    upper_triangle = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))
    
    # Znajd kolumny, ktre s bardzo skorelowane
    to_drop = [column for column in upper_triangle.columns if any(upper_triangle[column] > threshold)]
    
    # Usu te kolumny z danych
    data = data.drop(columns=to_drop)
    return data, to_drop

# Przetwarzanie danych: usuwanie skorelowanych cech
data_cleaned, dropped_columns = remove_highly_correlated_features(data, numerical_columns, threshold=0.7)

# Zaktualizowane listy kolumn po usuniciu skorelowanych cech
numerical_columns = [col for col in numerical_columns if col not in dropped_columns]

# Krok 3: Tworzymy pipeline do przetwarzania danych
#  - Kolumny numeryczne: standaryzacja
#  - Kolumny kategoryczne: OneHotEncoding

# Pipeline dla kolumn numerycznych (standaryzacja)
numeric_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),  # Imputacja brakujcych wartoci (jeli wystpuj)
    ('scaler', StandardScaler())  # Skalowanie
])

# Pipeline dla kolumn kategorycznych (OneHotEncoding)
categorical_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),  # Imputacja brakujcych wartoci
    ('onehot', OneHotEncoder(drop='first', sparse_output=False))  # One-Hot Encoding
])

# Krok 4: Tworzymy ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_pipeline, numerical_columns),  # Przetwarzanie kolumn numerycznych
        ('cat', categorical_pipeline, categorical_columns)  # Przetwarzanie kolumn kategorycznych
    ])

# Zastosowanie transformacji dla danych treningowych
data_transformed = preprocessor.fit_transform(data_cleaned)

# Uzyskujemy nazwy kolumn po One-Hot Encoding
categorical_columns_encoded = preprocessor.transformers_[1][1].get_feature_names_out(categorical_columns)

# Tworzymy ostateczny DataFrame
final_columns = np.concatenate([numerical_columns, categorical_columns_encoded])
data_final = pd.DataFrame(data_transformed, columns=final_columns)

# Wywietlenie przetworzonych danych treningowych
print(data_final)

# Teraz przetwarzamy dane walidacyjne X_valid
# Zakadajc, e X_valid jest w tej samej strukturze co data_cleaned, wykonujemy tylko transformacj:
X_valid_transformed = preprocessor.transform(data_valid)

# Uzyskujemy nazwy kolumn po One-Hot Encoding dla danych walidacyjnych
categorical_columns_encoded_valid = preprocessor.transformers_[1][1].get_feature_names_out(categorical_columns)

# Tworzymy ostateczny DataFrame dla X_valid
final_columns_valid = np.concatenate([numerical_columns, categorical_columns_encoded_valid])
X_valid_final = pd.DataFrame(X_valid_transformed, columns=final_columns_valid)

# Wywietlenie przetworzonych danych walidacyjnych
print(X_valid_final)

        booking_adult_count  booking_child_count  booking_infant_count  \
0                 -0.308868            -0.199772             -0.109168
1                 -0.308868            -0.199772             -0.109168
2                 -0.308868            -0.199772             -0.109168
3                 -0.308868            -0.199772             -0.109168
4                 -0.308868            -0.199772             -0.109168
...                     ...                  ...                   ...
679585             0.357407            -0.199772             -0.109168
679586             0.357407            -0.199772             -0.109168
679587             0.357407            -0.199772             -0.109168
679588             0.357407            -0.199772             -0.109168
679589             0.357407            -0.199772             -0.109168

        booking_leg_count  booking_segments_count  booking_window_w  \
0                0.592652               -0.260966         -0.278376
1                0.592652                1.839589         -0.856692
2                0.592652                1.839589          0.444519
3                0.592652               -0.260966         -0.422955
4                0.592652                1.839589          0.589098
...                   ...                     ...               ...
679585           0.592652               -0.260966         -0.712113
679586           0.592652               -0.260966         -0.712113
679587           0.592652               -0.260966         -0.712113
679588           0.592652               -0.260966         -0.712113
679589           0.592652               -0.260966         -0.712113

        coupon_miles   is_seat  leg_duration_h  leg_stopover_time_h     label  \
0          -0.122523 -0.771205       -0.893703             1.328297  1.566699
1          -0.606470 -0.771205        0.201782            -0.753507  1.218544
2          -0.510500 -0.771205        0.019201             1.304996 -0.174078
3          -0.281108 -0.771205       -0.163380             1.279687 -1.566699
4          -0.714144 -0.771205        2.392753            -0.753507  0.174078
...              ...       ...             ...                  ...       ...
679585     -0.421552 -0.771205       -0.528541            -0.753507 -0.174078
679586     -0.421552 -0.771205       -0.528541            -0.753507  0.174078
679587     -0.421552 -0.771205       -0.528541            -0.753507  0.870388
679588     -0.421552 -0.771205       -0.528541            -0.753507  1.218544
679589     -0.421552 -0.771205       -0.528541            -0.753507  1.566699

        booking_trip_type_OW  booking_trip_type_RT  \
0                        0.0                   1.0
1                        0.0                   1.0
2                        0.0                   1.0
3                        0.0                   1.0
4                        0.0                   0.0
...                      ...                   ...
679585                   0.0                   1.0
679586                   0.0                   1.0
679587                   0.0                   1.0
679588                   0.0                   1.0
679589                   0.0                   1.0

        coupon_cabin_class_premium  preffered_language_pl_pl
0                              0.0                       0.0
1                              0.0                       0.0
2                              0.0                       0.0
3                              0.0                       0.0
4                              0.0                       0.0
...                            ...                       ...
679585                         0.0                       1.0
679586                         0.0                       1.0
679587                         0.0                       1.0
679588                         0.0                       1.0
679589                         0.0                       1.0

[679590 rows x 15 columns]
        booking_adult_count  booking_child_count  booking_infant_count  \
0                 -0.308868            -0.199772             -0.109168
1                 -0.308868            -0.199772             -0.109168
2                 -0.308868            -0.199772             -0.109168
3                  0.357407            -0.199772             -0.109168
4                 -0.308868             3.250375             -0.109168
...                     ...                  ...                   ...
169895            -0.308868            -0.199772             -0.109168
169896            -0.308868            -0.199772             -0.109168
169897            -0.308868            -0.199772             -0.109168
169898            -0.308868            -0.199772             -0.109168
169899            -0.308868            -0.199772             -0.109168

        booking_leg_count  booking_segments_count  booking_window_w  \
0                0.592652               -0.260966         -0.567534
1               -1.629230               -1.311243         -0.856692
2                0.592652               -0.260966         -0.133797
3                0.592652               -0.260966          0.444519
4                0.592652               -0.260966         -0.567534
...                   ...                     ...               ...
169895           0.592652               -0.260966         -0.567534
169896           0.592652               -0.260966         -0.567534
169897           0.592652               -0.260966         -0.567534
169898           0.592652               -0.260966         -0.567534
169899           0.592652               -0.260966         -0.567534

        coupon_miles   is_seat  leg_duration_h  leg_stopover_time_h     label  \
0           1.594405  1.296672       -0.345960             1.320262  0.522233
1           1.198236 -0.771205        1.114687            -0.753507 -0.870388
2           1.586798  1.296672        1.662430            -0.753507  0.522233
3          -0.223175 -0.771205       -0.345960            -0.753507 -0.522233
4           2.013982 -0.771205        0.201782             1.493813  0.522233
...              ...       ...             ...                  ...       ...
169895      1.594405 -0.771205       -0.345960             1.397597 -0.174078
169896      1.594405 -0.771205       -0.345960             1.397597  0.174078
169897      1.594405 -0.771205       -0.345960             1.397597  0.870388
169898      1.594405 -0.771205       -0.345960             1.397597  1.218544
169899      1.594405 -0.771205       -0.345960             1.397597  1.566699

        booking_trip_type_OW  booking_trip_type_RT  \
0                        0.0                   1.0
1                        1.0                   0.0
2                        0.0                   1.0
3                        0.0                   1.0
4                        0.0                   1.0
...                      ...                   ...
169895                   0.0                   1.0
169896                   0.0                   1.0
169897                   0.0                   1.0
169898                   0.0                   1.0
169899                   0.0                   1.0

        coupon_cabin_class_premium  preffered_language_pl_pl
0                              0.0                       0.0
1                              0.0                       0.0
2                              1.0                       0.0
3                              0.0                       1.0
4                              0.0                       0.0
...                            ...                       ...
169895                         0.0                       1.0
169896                         0.0                       1.0
169897                         0.0                       1.0
169898                         0.0                       1.0
169899                         0.0                       1.0

[169900 rows x 15 columns]

In [37]:
X_train = data_final.copy()
X_train

X_valid = X_valid_final.copy()
X_valid

,booking_adult_count,booking_child_count,booking_infant_count,booking_leg_count,booking_segments_count,booking_window_w,coupon_miles,is_seat,leg_duration_h,leg_stopover_time_h,label,booking_trip_type_OW,booking_trip_type_RT,coupon_cabin_class_premium,preffered_language_pl_pl
0,-0.308868,-0.199772,-0.109168,0.592652,-0.260966,-0.567534,1.594405,1.296672,-0.345960,1.320262,0.522233,0.0,1.0,0.0,0.0
1,-0.308868,-0.199772,-0.109168,-1.629230,-1.311243,-0.856692,1.198236,-0.771205,1.114687,-0.753507,-0.870388,1.0,0.0,0.0,0.0
2,-0.308868,-0.199772,-0.109168,0.592652,-0.260966,-0.133797,1.586798,1.296672,1.662430,-0.753507,0.522233,0.0,1.0,1.0,0.0
3,0.357407,-0.199772,-0.109168,0.592652,-0.260966,0.444519,-0.223175,-0.771205,-0.345960,-0.753507,-0.522233,0.0,1.0,0.0,1.0
4,-0.308868,3.250375,-0.109168,0.592652,-0.260966,-0.567534,2.013982,-0.771205,0.201782,1.493813,0.522233,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169895,-0.308868,-0.199772,-0.109168,0.592652,-0.260966,-0.567534,1.594405,-0.771205,-0.345960,1.397597,-0.174078,0.0,1.0,0.0,1.0
169896,-0.308868,-0.199772,-0.109168,0.592652,-0.260966,-0.567534,1.594405,-0.771205,-0.345960,1.397597,0.174078,0.0,1.0,0.0,1.0
169897,-0.308868,-0.199772,-0.109168,0.592652,-0.260966,-0.567534,1.594405,-0.771205,-0.345960,1.397597,0.870388,0.0,1.0,0.0,1.0
169898,-0.308868,-0.199772,-0.109168,0.592652,-0.260966,-0.567534,1.594405,-0.771205,-0.345960,1.397597,1.218544,0.0,1.0,0.0,1.0
169899,-0.308868,-0.199772,-0.109168,0.592652,-0.260966,-0.567534,1.594405,-0.771205,-0.345960,1.397597,1.566699,0.0,1.0,0.0,1.0

In [61]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from sklearn.metrics import accuracy_score
from L_score import L_score

# Funkcja do trenowania modelu i walidacji po kadej epoce
def train_and_evaluate_model(model, X_train, X_valid, y_train, y_valid, epochs=10):
    for epoch in range(epochs):
        # Trenowanie modelu
        model.fit(X_train, y_train)
        
        # Przewidywanie na zbiorze walidacyjnym
        y_pred_probs = model.predict_proba(X_valid)
        
        # Dodajemy indeks oraz kolumn 'label' z X_valid
        X_valid_with_probs = data_v.copy()
        X_valid_with_probs['pred_clicked_prob'] = y_pred_probs[:, 1]  # Prawdopodobiestwo klasy 1

        grouped = X_valid_with_probs.groupby('index', group_keys=False)

        # Wybr wiersza z najwikszym prawdopodobiestwem w kadej grupie
        selected_rows = grouped.apply(lambda group: group.loc[group['pred_clicked_prob'].idxmax()]).reset_index(drop=True)

        # Tworzymy wektor y_pred z wartociami 'label' wybranych wierszy
        y_pred = selected_rows['label'].values
        
        tmp = data_v[['index']].copy()
        tmp['y_valid'] = y_valid.values

        # Grupowanie po 'index' i przypisanie maksymalnej wartoci z y_valid jako label
        tmp = tmp.groupby('index', as_index=False)['y_valid'].max()
        tmp.rename(columns={'y_valid': 'clicked'}, inplace=True)
        
        data_tmp = pd.read_csv('data/F/data_tmp.csv')
        data_tmp['index'] = data_tmp.index
        clicked = data_tmp[data_tmp['index'].isin(valid_indices)]['label']
        tmp['label'] = clicked.values
        
        # Ocena modelu przy uyciu funkcji L_score
        score = L_score(tmp, y_pred)
        
        # Wywietlanie wyniku dla kadej epoki
        print(f"Epoch {epoch+1}/{epochs}, L_score: {score}")

y_train = pd.read_csv('data/F/y_train.csv')
y_train = y_train['clicked']  # Upewnij si, e y_train jest seri
y_valid = pd.read_csv('data/F/y_valid.csv')
y_valid = y_valid['clicked']  # Upewnij si, e y_valid jest seri

# # Model 1: Logistic Regression
# print("Trening modelu Logistic Regression")
# log_reg_model = LogisticRegression(max_iter=100)  # W przypadku wikszej liczby iteracji, aby unikn bdw
# train_and_evaluate_model(log_reg_model, X_train, X_valid, y_train, y_valid, epochs=10)

# Model 2: Random Forest Classifier
print("\nTrening modelu Random Forest")
rf_model = RandomForestClassifier(n_estimators=100, random_state=42, criterion='gini')
train_and_evaluate_model(rf_model, X_train, X_valid, y_train, y_valid, epochs=5)

# # Model 3: XGBoost
# print("\nTrening modelu XGBoost")
# xgb_model = xgb.XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')
# train_and_evaluate_model(xgb_model, X_train, X_valid, y_train, y_valid, epochs=10)

Trening modelu Random Forest

C:\Users\flang\AppData\Local\Temp\ipykernel_2004\2149729779.py:25: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  selected_rows = grouped.apply(lambda group: group.loc[group['pred_clicked_prob'].idxmax()]).reset_index(drop=True)

Epoch 1/5, L_score: 0.11986720251616285

C:\Users\flang\AppData\Local\Temp\ipykernel_2004\2149729779.py:25: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  selected_rows = grouped.apply(lambda group: group.loc[group['pred_clicked_prob'].idxmax()]).reset_index(drop=True)

Epoch 2/5, L_score: 0.11986720251616285

C:\Users\flang\AppData\Local\Temp\ipykernel_2004\2149729779.py:25: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  selected_rows = grouped.apply(lambda group: group.loc[group['pred_clicked_prob'].idxmax()]).reset_index(drop=True)

Epoch 3/5, L_score: 0.11986720251616285

C:\Users\flang\AppData\Local\Temp\ipykernel_2004\2149729779.py:25: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  selected_rows = grouped.apply(lambda group: group.loc[group['pred_clicked_prob'].idxmax()]).reset_index(drop=True)

Epoch 4/5, L_score: 0.11986720251616285

C:\Users\flang\AppData\Local\Temp\ipykernel_2004\2149729779.py:25: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  selected_rows = grouped.apply(lambda group: group.loc[group['pred_clicked_prob'].idxmax()]).reset_index(drop=True)

Epoch 5/5, L_score: 0.11986720251616285

In [62]:
import joblib

joblib.dump(rf_model, 'random_forest_model.pkl')

['random_forest_model.pkl']

# Test

In [64]:
data_test = pd.read_csv('data/hackaton_students_test.csv')
data_test['index'] = data_test.index
data_test

,id,booking_adult_count,booking_child_count,booking_destination_airport_code,booking_id,booking_infant_count,booking_leg_count,booking_market,booking_origin_airport_code,booking_original_currency,...,leg_last_leg_flg,leg_number,leg_origin_airport_code,leg_origin_country_code,leg_stopover_time_h,pnr,preffered_language,request_dttm,request_id,index
0,42942,1,0,WAW,7158728,0,2,CZ,PRG,CZK,...,0,1,PRG,NaN,46,5707953741ff4087af8face890b8781c,en_gb,2013-10-24T06:05:41.778Z,ef7a2769db394b35801c325b88566d3b,0
1,46065,1,0,SKP,4665455,0,2,PL,WAW,PLN,...,0,1,WAW,PL,51,e49ba4e0568047f5970e001932ae2afe,pl_pl,2013-10-27T08:07:21.903Z,60a5bec2387544c3a49435b648366fb2,1
2,96229,1,0,LHR,6954615,0,2,EE,TLL,EUR,...,1,1,TLL,NaN,-9999,3895d2bb2c464059a25e60686537241b,en_gb,2014-02-02T08:16:28.449Z,f0ba02c03ec444d7a7dfb1a2b31cb7fe,2
3,1375,1,1,WAW,1436103,0,2,PL,CDG,PLN,...,1,2,WAW,NaN,-9999,9ee7741ee9cd4e0fb3eb8d73ef5f148a,en_gb,2013-09-16T00:33:46.696Z,44c56b82134b4b0aaa568e68aba1a8bd,3
4,68819,2,0,MIA,6578150,0,2,PL,WAW,PLN,...,0,1,WAW,NaN,180,e6c74572e85a452584b67456b9e2c5b4,en_gb,2013-11-24T06:12:08.825Z,75d7291034754785a9c2b3d62d8630ed,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9434,5238,1,2,ORD,7159884,0,1,PL,KRK,PLN,...,1,1,KRK,NaN,-9999,743434cbdb9f4bd7a4c388eac3ab48b0,en_gb,2013-09-19T05:04:52.176Z,c9a9e9191d95455eaa7e03673154678f,9434
9435,13487,2,0,WAW,3969433,0,2,NO,OSL,NOK,...,0,1,OSL,NaN,165,32e1a6abf95e4caf9cffec475f12393a,en_gb,2013-09-26T13:10:09.034Z,a8ce6358e3c94af08859e9dac909baec,9435
9436,45547,1,0,NaN,7696142,0,2,CA,YYZ,CAD,...,0,1,YYZ,NaN,359,287837bac66942b9af444e05e7f8bcb8,en_gb,2013-10-26T22:08:30.271Z,1ed5b3abad1d4c7b89860958149795f0,9436
9437,108664,1,0,NCE,7489934,0,2,PL,WAW,PLN,...,0,1,WAW,NaN,61,5a29056c453b453493281dd2c7a73583,en_gb,2014-03-11T02:10:13.860Z,aef373028535468db278a39cd886d863,9437
9438,17358,2,0,ICN,1889183,0,2,PL,WAW,PLN,...,0,2,ICN,KR,330,932ad848991947b38bbc6893e55d868c,pl_pl,2013-09-29T22:07:36.210Z,13a34470e2ae48b288dbf642c58225f7,9438

In [73]:
new_rows = []

for index, row in data_test.iterrows():
   
    # Dla kadej wartoci layout od 0 do 9, z wyjtkiem tej, ktra jest ju w wierszu
    for layout_value in range(10):
        # Tworzymy nowy wiersz z kopiami wszystkich kolumn
        new_row = row.copy()
        new_row['label'] = layout_value
        # Zmieniamy warto 'clicked' na 0, niezalenie od oryginalnej wartoci
        new_rows.append(new_row)

# Dodajemy nowo wygenerowane wiersze do oryginalnej ramki danych
new_rows_df = pd.DataFrame(new_rows)
expanded_data = pd.concat([new_rows_df], ignore_index=True)

# Wydrukowanie nowej ramki danych
print(expanded_data)

          id  booking_adult_count  booking_child_count  \
0      42942                    1                    0
1      42942                    1                    0
2      42942                    1                    0
3      42942                    1                    0
4      42942                    1                    0
...      ...                  ...                  ...
94385  17358                    2                    0
94386  17358                    2                    0
94387  17358                    2                    0
94388  17358                    2                    0
94389  17358                    2                    0

      booking_destination_airport_code  booking_id  booking_infant_count  \
0                                  WAW     7158728                     0
1                                  WAW     7158728                     0
2                                  WAW     7158728                     0
3                                  WAW     7158728                     0
4                                  WAW     7158728                     0
...                                ...         ...                   ...
94385                              ICN     1889183                     0
94386                              ICN     1889183                     0
94387                              ICN     1889183                     0
94388                              ICN     1889183                     0
94389                              ICN     1889183                     0

       booking_leg_count booking_market booking_origin_airport_code  \
0                      2             CZ                         PRG
1                      2             CZ                         PRG
2                      2             CZ                         PRG
3                      2             CZ                         PRG
4                      2             CZ                         PRG
...                  ...            ...                         ...
94385                  2             PL                         WAW
94386                  2             PL                         WAW
94387                  2             PL                         WAW
94388                  2             PL                         WAW
94389                  2             PL                         WAW

      booking_original_currency  ...  leg_number leg_origin_airport_code  \
0                           CZK  ...           1                     PRG
1                           CZK  ...           1                     PRG
2                           CZK  ...           1                     PRG
3                           CZK  ...           1                     PRG
4                           CZK  ...           1                     PRG
...                         ...  ...         ...                     ...
94385                       PLN  ...           2                     ICN
94386                       PLN  ...           2                     ICN
94387                       PLN  ...           2                     ICN
94388                       PLN  ...           2                     ICN
94389                       PLN  ...           2                     ICN

       leg_origin_country_code leg_stopover_time_h  \
0                          NaN                  46
1                          NaN                  46
2                          NaN                  46
3                          NaN                  46
4                          NaN                  46
...                        ...                 ...
94385                       KR                 330
94386                       KR                 330
94387                       KR                 330
94388                       KR                 330
94389                       KR                 330

                                    pnr preffered_language  \
0      5707953741ff4087af8face890b8781c              en_gb
1      5707953741ff4087af8face890b8781c              en_gb
2      5707953741ff4087af8face890b8781c              en_gb
3      5707953741ff4087af8face890b8781c              en_gb
4      5707953741ff4087af8face890b8781c              en_gb
...                                 ...                ...
94385  932ad848991947b38bbc6893e55d868c              pl_pl
94386  932ad848991947b38bbc6893e55d868c              pl_pl
94387  932ad848991947b38bbc6893e55d868c              pl_pl
94388  932ad848991947b38bbc6893e55d868c              pl_pl
94389  932ad848991947b38bbc6893e55d868c              pl_pl

                   request_dttm                        request_id index label
0      2013-10-24T06:05:41.778Z  ef7a2769db394b35801c325b88566d3b     0     0
1      2013-10-24T06:05:41.778Z  ef7a2769db394b35801c325b88566d3b     0     1
2      2013-10-24T06:05:41.778Z  ef7a2769db394b35801c325b88566d3b     0     2
3      2013-10-24T06:05:41.778Z  ef7a2769db394b35801c325b88566d3b     0     3
4      2013-10-24T06:05:41.778Z  ef7a2769db394b35801c325b88566d3b     0     4
...                         ...                               ...   ...   ...
94385  2013-09-29T22:07:36.210Z  13a34470e2ae48b288dbf642c58225f7  9438     5
94386  2013-09-29T22:07:36.210Z  13a34470e2ae48b288dbf642c58225f7  9438     6
94387  2013-09-29T22:07:36.210Z  13a34470e2ae48b288dbf642c58225f7  9438     7
94388  2013-09-29T22:07:36.210Z  13a34470e2ae48b288dbf642c58225f7  9438     8
94389  2013-09-29T22:07:36.210Z  13a34470e2ae48b288dbf642c58225f7  9438     9

[94390 rows x 51 columns]

In [74]:
expended = expanded_data.drop(columns=['id', 'booking_destination_airport_code', 'booking_id', 'booking_market', 'booking_origin_airport_code', 'booking_original_currency',
       'booking_pax_count', 'booking_payment_method',
       'booking_reservation_month', 'booking_sales_channel', 'coupon_destination_airport_code',
       'coupon_fare_basis', 'coupon_marketing_flight_number', 'coupon_number', 'coupon_origin_airport_code', 'coupon_range',
       'coupon_rbd_code', 'email', 'flight_coupon_id', 'flight_leg_id', 'leg_arrival_hour', 'leg_arrival_timezone_code',
       'leg_departure_hour', 'leg_departure_month',
       'leg_departure_timezone_code', 'leg_destination_airport_code',
       'leg_destination_country_code', 'leg_first_leg_flg',
       'leg_hours_to_departure', 'leg_last_leg_flg', 'leg_number', 'leg_origin_airport_code', 'leg_origin_country_code', 'request_dttm',
       'request_id', 'pnr', 'index'])

In [75]:
expended.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94390 entries, 0 to 94389
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   booking_adult_count     94390 non-null  int64
 1   booking_child_count     94390 non-null  int64
 2   booking_infant_count    94390 non-null  int64
 3   booking_leg_count       94390 non-null  int64
 4   booking_segments_count  94390 non-null  int64
 5   booking_trip_type       94390 non-null  object
 6   booking_window_w        94390 non-null  int64
 7   coupon_cabin_class      94390 non-null  object
 8   coupon_miles            94390 non-null  int64
 9   is_seat                 94390 non-null  int64
 10  leg_duration_h          94390 non-null  int64
 11  leg_stopover_time_h     94390 non-null  int64
 12  preffered_language      94390 non-null  object
 13  label                   94390 non-null  int64
dtypes: int64(11), object(3)
memory usage: 10.1+ MB

In [76]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

data = expended.copy()

# Krok 1: Automatyczne wykrywanie kolumn kategorycznych i numerycznych
categorical_columns = data.select_dtypes(include=['object', 'category']).columns
numerical_columns = data.select_dtypes(include=['int64', 'float64']).columns

# Krok 2: Usuwanie skorelowanych cech tylko dla kolumn numerycznych
def remove_highly_correlated_features(data, numerical_columns, threshold=0.7):
    # Korelacja tylko dla numerycznych kolumn
    corr_matrix = data[numerical_columns].corr().abs()
    upper_triangle = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))
    
    # Znajd kolumny, ktre s bardzo skorelowane
    to_drop = [column for column in upper_triangle.columns if any(upper_triangle[column] > threshold)]
    
    # Usu te kolumny z danych
    data = data.drop(columns=to_drop)
    return data, to_drop

# Przetwarzanie danych: usuwanie skorelowanych cech
data_cleaned, dropped_columns = remove_highly_correlated_features(data, numerical_columns, threshold=0.7)

# Zaktualizowane listy kolumn po usuniciu skorelowanych cech
numerical_columns = [col for col in numerical_columns if col not in dropped_columns]

# Krok 3: Tworzymy pipeline do przetwarzania danych
#  - Kolumny numeryczne: standaryzacja
#  - Kolumny kategoryczne: OneHotEncoding

# Pipeline dla kolumn numerycznych (standaryzacja)
numeric_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),  # Imputacja brakujcych wartoci (jeli wystpuj)
    ('scaler', StandardScaler())  # Skalowanie
])

# Pipeline dla kolumn kategorycznych (OneHotEncoding)
categorical_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),  # Imputacja brakujcych wartoci
    ('onehot', OneHotEncoder(drop='first', sparse_output=False))  # One-Hot Encoding
])

# Krok 4: Tworzymy ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_pipeline, numerical_columns),  # Przetwarzanie kolumn numerycznych
        ('cat', categorical_pipeline, categorical_columns)  # Przetwarzanie kolumn kategorycznych
    ])

# Zastosowanie transformacji dla danych treningowych
data_transformed = preprocessor.fit_transform(data_cleaned)

# Uzyskujemy nazwy kolumn po One-Hot Encoding
categorical_columns_encoded = preprocessor.transformers_[1][1].get_feature_names_out(categorical_columns)

# Tworzymy ostateczny DataFrame
final_columns = np.concatenate([numerical_columns, categorical_columns_encoded])
data_final = pd.DataFrame(data_transformed, columns=final_columns)

# Wywietlenie przetworzonych danych treningowych
print(data_final)

       booking_adult_count  booking_child_count  booking_infant_count  \
0                -0.264891            -0.188468             -0.103033
1                -0.264891            -0.188468             -0.103033
2                -0.264891            -0.188468             -0.103033
3                -0.264891            -0.188468             -0.103033
4                -0.264891            -0.188468             -0.103033
...                    ...                  ...                   ...
94385             0.275015            -0.188468             -0.103033
94386             0.275015            -0.188468             -0.103033
94387             0.275015            -0.188468             -0.103033
94388             0.275015            -0.188468             -0.103033
94389             0.275015            -0.188468             -0.103033

       booking_leg_count  booking_segments_count  booking_window_w  \
0               0.607395               -0.236576         -0.422913
1               0.607395               -0.236576         -0.422913
2               0.607395               -0.236576         -0.422913
3               0.607395               -0.236576         -0.422913
4               0.607395               -0.236576         -0.422913
...                  ...                     ...               ...
94385           0.607395               -0.236576          2.666432
94386           0.607395               -0.236576          2.666432
94387           0.607395               -0.236576          2.666432
94388           0.607395               -0.236576          2.666432
94389           0.607395               -0.236576          2.666432

       coupon_miles   is_seat  leg_duration_h  leg_stopover_time_h     label  \
0         -0.701877  1.274128       -0.708390             1.275217 -1.566699
1         -0.701877  1.274128       -0.708390             1.275217 -1.218544
2         -0.701877  1.274128       -0.708390             1.275217 -0.870388
3         -0.701877  1.274128       -0.708390             1.275217 -0.522233
4         -0.701877  1.274128       -0.708390             1.275217 -0.174078
...             ...       ...             ...                  ...       ...
94385      1.950098 -0.784851        0.030265             1.332370  0.174078
94386      1.950098 -0.784851        0.030265             1.332370  0.522233
94387      1.950098 -0.784851        0.030265             1.332370  0.870388
94388      1.950098 -0.784851        0.030265             1.332370  1.218544
94389      1.950098 -0.784851        0.030265             1.332370  1.566699

       booking_trip_type_OW  booking_trip_type_RT  coupon_cabin_class_premium  \
0                       0.0                   1.0                         0.0
1                       0.0                   1.0                         0.0
2                       0.0                   1.0                         0.0
3                       0.0                   1.0                         0.0
4                       0.0                   1.0                         0.0
...                     ...                   ...                         ...
94385                   0.0                   1.0                         0.0
94386                   0.0                   1.0                         0.0
94387                   0.0                   1.0                         0.0
94388                   0.0                   1.0                         0.0
94389                   0.0                   1.0                         0.0

       preffered_language_pl_pl
0                           0.0
1                           0.0
2                           0.0
3                           0.0
4                           0.0
...                         ...
94385                       1.0
94386                       1.0
94387                       1.0
94388                       1.0
94389                       1.0

[94390 rows x 15 columns]

In [ ]:
loaded_rf_model = joblib.load('random_forest_model.pkl')

In [80]:
# Uywanie zaadowanego modelu do przewidywa
y_pred = loaded_rf_model.predict(data_final)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [81]:
y_pred_probs = loaded_rf_model.predict_proba(data_final)
       
# Dodajemy indeks oraz kolumn 'label' z X_valid
X_valid_with_probs = expanded_data.copy()
X_valid_with_probs['pred_clicked_prob'] = y_pred_probs[:, 1]  # Prawdopodobiestwo klasy 1

grouped = X_valid_with_probs.groupby('index', group_keys=False)

# Wybr wiersza z najwikszym prawdopodobiestwem w kadej grupie
selected_rows = grouped.apply(lambda group: group.loc[group['pred_clicked_prob'].idxmax()]).reset_index(drop=True)

# Tworzymy wektor y_pred z wartociami 'label' wybranych wierszy
y_pred = selected_rows['label'].values

# tmp = data_v[['index']].copy()
# tmp['y_valid'] = y_valid.values

# # Grupowanie po 'index' i przypisanie maksymalnej wartoci z y_valid jako label
# tmp = tmp.groupby('index', as_index=False)['y_valid'].max()
# tmp.rename(columns={'y_valid': 'clicked'}, inplace=True)

# data_tmp = pd.read_csv('data/F/data_tmp.csv')
# data_tmp['index'] = data_tmp.index
# clicked = data_tmp[data_tmp['index'].isin(valid_indices)]['label']
# tmp['label'] = clicked.values

C:\Users\flang\AppData\Local\Temp\ipykernel_2004\934620730.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  selected_rows = grouped.apply(lambda group: group.loc[group['pred_clicked_prob'].idxmax()]).reset_index(drop=True)

In [83]:
y_pred.shape

(9439,)

In [86]:
data2 = pd.read_csv('data/hackaton_students_train.csv')
data1 = pd.read_csv('data/F/data_tmp.csv')

In [88]:
data2['label'] = data1['label']

# Teraz dla kadej unikalnej kombinacji A, B, C, D sprawdzimy, jaka klasa 'label' jej odpowiada
result = data2.groupby(['graphic_design','top_1_section','top_2_section','top_3_section']).agg({'label': 'first'}).reset_index()

# Wywietlamy wynik
result

  graphic_design  top_1_section  top_2_section  top_3_section  label
0              A              1              2              3      0
1              A              1              3              2      1
2              A              3              1              2      2
3              A              3              2              1      3
4              B              3              4              5      4
5              B              3              5              4      5
6              B              4              3              5      6
7              B              4              5              3      7
8              C              3              6              0      8
9              C              6              3              0      9

In [90]:
y_pred = pd.DataFrame(y_pred, columns=['label'])
y_pred

      label
0         5
1         3
2         5
3         1
4         9
...     ...
9434      8
9435      3
9436      6
9437      0
9438      3

[9439 rows x 1 columns]

In [95]:
joined = pd.merge(y_pred, result, on=['label'], how='left')
joined['top_3_section'] = joined['top_3_section'].replace(0, -1)
joined

      label graphic_design  top_1_section  top_2_section  top_3_section
0         5              B              3              5              4
1         3              A              3              2              1
2         5              B              3              5              4
3         1              A              1              3              2
4         9              C              6              3             -1
...     ...            ...            ...            ...            ...
9434      8              C              3              6             -1
9435      3              A              3              2              1
9436      6              B              4              3              5
9437      0              A              1              2              3
9438      3              A              3              2              1

[9439 rows x 5 columns]

In [96]:
result = joined.drop(columns=['label'])
result

     graphic_design  top_1_section  top_2_section  top_3_section
0                 B              3              5              4
1                 A              3              2              1
2                 B              3              5              4
3                 A              1              3              2
4                 C              6              3             -1
...             ...            ...            ...            ...
9434              C              3              6             -1
9435              A              3              2              1
9436              B              4              3              5
9437              A              1              2              3
9438              A              3              2              1

[9439 rows x 4 columns]

In [100]:
test = pd.read_csv('data/hackaton_students_test.csv')
result['passenger_id'] = test['id'].values
result

     graphic_design  top_1_section  top_2_section  top_3_section  passenger_id
0                 B              3              5              4         42942
1                 A              3              2              1         46065
2                 B              3              5              4         96229
3                 A              1              3              2          1375
4                 C              6              3             -1         68819
...             ...            ...            ...            ...           ...
9434              C              3              6             -1          5238
9435              A              3              2              1         13487
9436              B              4              3              5         45547
9437              A              1              2              3        108664
9438              A              3              2              1         17358

[9439 rows x 5 columns]

In [102]:
result.to_csv('test.csv', index=False)